<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias alias="device" type="kr.co.dpm.system.model.Device" />
		<typeAlias alias="attach" type="kr.co.dpm.system.model.Attach" />
		<typeAlias alias="script" type="kr.co.dpm.system.model.Script" />
		<typeAlias alias="measure" type="kr.co.dpm.system.model.Measure" />
	</typeAliases>

</configuration>