<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dpm.system.script.AttachRepository">
    <select id="select"
            parameterType="attach"
            resultType="attach">
        SELECT NO
             , DIVISION
             , NAME
             , PHYSIC_NAME
             , SCRIPT_NO
        FROM ATTACH
        <where>
            <if test="no > 0">
                AND NO = #{no}
            </if>
        </where>
    </select>

    <select id="selectAll"
            parameterType="attach"
            resultType="attach">
        SELECT NO
             , DIVISION
             , NAME
             , PHYSIC_NAME
             , SCRIPT_NO
        FROM ATTACH
        <where>
            <if test="scriptNo > 0">
                AND SCRIPT_NO = #{scriptNo}
            </if>
        </where>
    </select>


    <insert id="insert"
            parameterType="attach">
        INSERT INTO ATTACH
            (DIVISION, NAME, PHYSIC_NAME, SCRIPT_NO)
        VALUES
            (#{division}, #{name}, #{physicName}, #{scriptNo})
    </insert>
</mapper>