<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dpm.system.device.repository.DeviceRepository">
    <select id="selectAll"
            parameterType="device"
            resultType="device">
        SELECT
            ID
          , NAME
          , HOST_NAME
          , IP_ADDRESS
          , INSERT_DATE
          , JDK_VERSION
          , STATUS
        FROM DEVICE
        <where>
            <if test="id != null and id != ''">
                AND ID = #{id}
            </if>
        </where>
    </select>

    <select id="select"
            parameterType="device"
            resultType="device">
        SELECT
        ID
        , NAME
        , HOST_NAME
        , IP_ADDRESS
        , INSERT_DATE
        , JDK_VERSION
        , STATUS
        FROM DEVICE
        <where>
            <if test="id != null and id != ''">
                AND ID = #{id}
            </if>
            <if test="insertDate != null and insertDate != ''">
                AND INSERT_DATE = DATE_FORMAT(#{insertDate}, '%Y-%m-%d')
            </if>
        </where>
    </select>

    <insert id="insert"
            parameterType="device">
        INSERT INTO DEVICE
            (ID, NAME, HOST_NAME, IP_ADDRESS, INSERT_DATE, JDK_VERSION, STATUS)
        VALUES
            (#{id}, #{name}, #{hostName}, #{ipAddress}, #{insertDate}, #{jdkVersion}, #{status})
    </insert>

    <update id="update"
            parameterType="device">
        UPDATE DEVICE
        <set>
            <if test="name != null and name != ''">
                NAME = ${name}
            </if>
            <if test="hostName != null and hostName != ''">
                HOST_NAME = ${hostName}
            </if>
            <if test="ipAddress != null and ipAddress != ''">
                IP_ADDRESS = ${ipAddress}
            </if>
            <if test="insertDate != null and insertDate != ''">
                INSERT_DATE = ${insertDate}
            </if>
            <if test="jdkVersion != null and jdkVersion != ''">
                JDK_VERSION = ${jdkVersion}
            </if>
            <if test="status != null and status != ''">
                STATUS = ${status}
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                AND ID = ${id}
            </if>
        </where>
    </update>
</mapper>