<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dpm.system.measure.MeasureRepository">
    <select id="selectAll"
            parameterType="measure"
            resultType="measure">
        SELECT
            NO
            , MEASURE.NAME
            , DEVICE_ID
            , SCRIPT_NO
            , EXEC_TIME
            , MEASURE.STATUS
            FROM MEASURE INNER JOIN DEVICE
            ON MEASURE.DEVICE_ID = DEVICE.ID
        <where>
            <if test="scriptNo > 0">
                AND SCRIPT_NO = #{scriptNo}
            </if>
            <if test="name != null and name != ''">
                AND MEASURE.NAME LIKE '%${name}%'
            </if>
        </where>
        ORDER BY DEVICE.NAME
    </select>

    <select id="select"
            parameterType="measure"
            resultType="measure">
        SELECT
        NO
        , NAME
        , DEVICE_ID
        , SCRIPT_NO
        , EXEC_TIME
        , STATUS
        FROM MEASURE
        <where>
            <if test="no > 0">
                AND NO = #{no}
            </if>
            <if test="deviceId != null and deviceId != ''">
                AND DEVICE_ID = #{deviceId}
            </if>
        </where>
    </select>

    <insert id="insert"
            parameterType="measure">
        INSERT INTO MEASURE
            (NAME, DEVICE_ID, SCRIPT_NO, EXEC_TIME, STATUS)
        VALUES
            (#{name}, #{deviceId}, #{scriptNo}, #{execTime}, #{status})
    </insert>
</mapper>